<a href="https://colab.research.google.com/github/ezraflavine/dsc-running-jupyter-locally-lab/blob/master/penguindataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [9]:
penguins=pd.read_excel('/content/penguins.xlsx')
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female
...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female

In [4]:
penguins.info

<bound method DataFrame.info of        species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0       Adelie  Torgersen            39.1           18.7              181.0
1       Adelie  Torgersen            39.5           17.4              186.0
2       Adelie  Torgersen            40.3           18.0              195.0
3       Adelie  Torgersen             NaN            NaN                NaN
4       Adelie  Torgersen            36.7           19.3              193.0
..         ...        ...             ...            ...                ...
339  Chinstrap      Dream            55.8           19.8              207.0
340  Chinstrap      Dream            43.5           18.1              202.0
341  Chinstrap      Dream            49.6           18.2              193.0
342  Chinstrap      Dream            50.8           19.0              210.0
343  Chinstrap      Dream            50.2           18.7              198.0

     body_mass_g     sex
0         3750.0    male
1         3800.0  female
2         3250.0  female
3            NaN     NaN
4         3450.0  female
..           ...     ...
339       4000.0    male
340       3400.0  female
341       3775.0    male
342       4100.0    male
343       3775.0  female

[344 rows x 7 columns]>

In [6]:
penguins.describe   #to describe statistics aspect

<bound method NDFrame.describe of        species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0       Adelie  Torgersen            39.1           18.7              181.0
1       Adelie  Torgersen            39.5           17.4              186.0
2       Adelie  Torgersen            40.3           18.0              195.0
3       Adelie  Torgersen             NaN            NaN                NaN
4       Adelie  Torgersen            36.7           19.3              193.0
..         ...        ...             ...            ...                ...
339  Chinstrap      Dream            55.8           19.8              207.0
340  Chinstrap      Dream            43.5           18.1              202.0
341  Chinstrap      Dream            49.6           18.2              193.0
342  Chinstrap      Dream            50.8           19.0              210.0
343  Chinstrap      Dream            50.2           18.7              198.0

     body_mass_g     sex
0         3750.0    male
1         3800.0  female
2         3250.0  female
3            NaN     NaN
4         3450.0  female
..           ...     ...
339       4000.0    male
340       3400.0  female
341       3775.0    male
342       4100.0    male
343       3775.0  female

[344 rows x 7 columns]>

In [5]:
penguins.shape  #getting rows and columns

(344, 7)

In [7]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [10]:
penguins.columns # gettings columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [11]:
penguins['sex']  #getting specific

0        male
1      female
2      female
3         NaN
4      female
        ...
339      male
340    female
341      male
342      male
343    female
Name: sex, Length: 344, dtype: object

In [12]:
penguins['sex'].unique() #getting unique values  in the output nan means there are missing
#values as a placeholder

array(['male', 'female', nan], dtype=object)

In [13]:
penguins.species

0         Adelie
1         Adelie
2         Adelie
3         Adelie
4         Adelie
         ...
339    Chinstrap
340    Chinstrap
341    Chinstrap
342    Chinstrap
343    Chinstrap
Name: species, Length: 344, dtype: object

In [ ]:
#when working with missing values Missing values
#either drop them or fill them with a measure of central tendancy before dropping#
#ask yourself whether it will affect the data you are trrying to analyzee

In [14]:
penguins.value_counts()

species  island     bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g  sex
Adelie   Biscoe     34.5            18.1           187.0              2900.0       female    1
Gentoo   Biscoe     44.0            13.6           208.0              4350.0       female    1
                    43.6            13.9           217.0              4900.0       female    1
                    43.5            15.2           213.0              4650.0       female    1
                                    14.2           220.0              4700.0       female    1
                                                                                            ..
Adelie   Torgersen  36.6            17.8           185.0              3700.0       female    1
                    36.2            17.2           187.0              3150.0       female    1
                                    16.1           187.0              3550.0       female    1
                    35.9            16.6           190.0              3050.0       female    1
Gentoo   Biscoe     59.6            17.0           230.0              6050.0       male      1
Length: 333, dtype: int64

In [15]:
penguins['sex'].value_counts() #though it does not imply that males are more than females considrring we have missing values

male      168
female    165
Name: sex, dtype: int64

In [16]:
penguins['sex'] #getting missing values we can fill using the forward or backward method for categorical data

0        male
1      female
2      female
3         NaN
4      female
        ...
339      male
340    female
341      male
342      male
343    female
Name: sex, Length: 344, dtype: object

In [17]:
penguins.loc[:40,'species'] #iloc uses the column index to subset for loc you use the
column names

0     Adelie
1     Adelie
2     Adelie
3     Adelie
4     Adelie
5     Adelie
6     Adelie
7     Adelie
8     Adelie
9     Adelie
10    Adelie
11    Adelie
12    Adelie
13    Adelie
14    Adelie
15    Adelie
16    Adelie
17    Adelie
18    Adelie
19    Adelie
20    Adelie
21    Adelie
22    Adelie
23    Adelie
24    Adelie
25    Adelie
26    Adelie
27    Adelie
28    Adelie
29    Adelie
30    Adelie
31    Adelie
32    Adelie
33    Adelie
34    Adelie
35    Adelie
36    Adelie
37    Adelie
38    Adelie
39    Adelie
40    Adelie
Name: species, dtype: object

In [19]:
#how to change the column_name
penguins.columns.str.replace("sex", "SEX")

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'SEX'],
      dtype='object')

In [20]:

penguins = penguins.rename(columns={"sex": "SEX"})

In [22]:
penguins.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'SEX'],
      dtype='object')

In [23]:
penguins.species.replace("Chinstrap","CHINSTRAP") #when trying to replace a funame in a column

0         Adelie
1         Adelie
2         Adelie
3         Adelie
4         Adelie
         ...
339    CHINSTRAP
340    CHINSTRAP
341    CHINSTRAP
342    CHINSTRAP
343    CHINSTRAP
Name: species, Length: 344, dtype: object